<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mid America Automation Project">
	 <listeners>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter" />
    </listeners>
    
<test name="Run on Windows7/FF" >
 	<parameter name="os" value="windows" />
		<parameter name="browser" value="iexplore" />
		<groups>
		<run>
			<include name="Regression"/>
		</run>
		<run>
			<exclude name="Smoke"/>
		</run>
		</groups>
	 <classes>
		<class name="test.java.scripts.Login"/>
 	</classes>
</test> <!-- Default test -->
</suite> <!-- Default suite -->
